extends layout
block content
	input(type='hidden', value= user._id)#userId
	service=typeof(sdata) != 'undefined' ? sdata : { }
block content
	div.well
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					.navbar-brand Control Panel
				ul.nav.navbar-nav.navbar-right
					li
						.navbar-btn#btn-logout.btn.btn-default
							| Sign Out
	div
		p
	#result

		h2 Results	
		form(id='result-form', method='post')
			
			h6 Look at your results below
			div.marglftrgt
				div.table-responsive
					table#tblproviders.table-bordered.table-striped.table
						thead
							tr
								th Provider
								th ZIP
								th Zone
								th Choose
						tbody
							- var i = 0
							for service in sdata
								tr
									td= service.provider
									td= service.zip
									td= service.zone
									td
										input(type='radio', class='serviceRad', name='serviceRad', value=service._id, checked='')
									- i += 1
			
				div.table-responsive
					table#tblprices.table-bordered.table-striped.table
						thead
							tr 
								th Speed/Price
								th Additional Info
								th Select
						tbody
			div.col-md-offset-3.col-md-6
				button(type='button' disabled)#result-form-btn1.btn.btn-primary.center
				button(type='submit' visible='false')#result-form-btn2
	include modals/form-errors
	include modals/alert
	include modals/confirm
block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/result.js')
	script(src='/js/controllers/resultController.js')
	script(src='/js/form-validators/resultValidator.js')